.btn {
  color: var(--White);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 131%;
  letter-spacing: 0.0625rem;
  font-family: inherit;
  border: transparent;
  cursor: pointer;
  border-radius: 0.3125rem;
  box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(73, 93, 207, 0.20012);
  transition: all ease 0.3s;
}

.btn:focus-visible {
  outline: 0.125rem solid var(--SoftBlue);
  outline-offset: 0.125rem;
}

.login {
  font-size: 0.8125rem;
  border: 0.125rem solid transparent;
  text-transform: uppercase;
  padding: 0.625rem 2rem;
  background: var(--SoftRed);
}

.login:hover {
  background-color: var(--White);
  color: var(--SoftRed);
  border: 0.125rem solid var(--SoftRed);
}

.loginMobile {
  font-size: 1.25rem;
  line-height: 85%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--White);
  background: transparent;
  border: 0.125rem solid var(--White);
  border-radius: 0.3125rem;
  padding: 1em;
  width: 100%;
}

.loginMobile:hover {
  color: var(--SoftRed);
  border: 0.125rem solid var(--SoftRed);
}

.heroChrome {
  line-height: 200%;
  padding: 10px 16px;
  background: var(--SoftBlue);
  border: 0.125rem solid transparent;
}

.heroFire {
  line-height: 200%;
  padding: 10px 16px;
  color: var(--VeryDarkBlue);
  mix-blend-mode: normal;
  opacity: 0.75;
  background: #f7f7f7;
  border-radius: 5px;
  border: 0.125rem solid transparent;
}

.heroChrome:hover {
  background-color: var(--White);
  color: var(--SoftBlue);
  border: 0.125rem solid var(--SoftBlue);
}

.heroFire:hover {
  border: 0.125rem solid #5b6074;
}

.info {
  line-height: 200%;
  letter-spacing: 0.25px;
  padding: 8px 24px;
  background: var(--SoftBlue);
  border: 0.125rem solid transparent;
}

.info:hover {
  color: var(--SoftBlue);
  background: var(--White);
  border: 0.125rem solid var(--SoftBlue);
}
