.btn {
  color: var(--White);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 131%;
  letter-spacing: 0.0625rem;
  font-family: inherit;
  border: transparent;
  cursor: pointer;
  border-radius: 0.3125rem;
  box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(73, 93, 207, 0.20012);
  transition: all ease 0.3s;
}

.btn:focus-visible {
  outline: 0.125rem solid var(--SoftBlue);
  outline-offset: 0.125rem;
}

.login {
  font-size: 0.8125rem;
  border: 0.125rem solid transparent;
  text-transform: uppercase;
  padding: 0.625rem 2rem;
  background: var(--SoftRed);
}

.login:hover {
  background-color: var(--White);
  color: var(--SoftRed);
  border: 0.125rem solid var(--SoftRed);
}

.loginMobile {
  font-size: 1.25rem;
  line-height: 85%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: var(--White);
  background: transparent;
  border: 0.125rem solid var(--White);
  border-radius: 0.3125rem;
  padding: 1em;
  width: 100%;
}

.loginMobile:hover {
  color: var(--SoftRed);
  border: 0.125rem solid var(--SoftRed);
}

.heroChrome {
  line-height: 200%;
  padding: 0.625em 1em;
  background: var(--SoftBlue);
  border: 0.125rem solid transparent;
}

.heroFire {
  line-height: 200%;
  padding: 0.625em 1em;
  color: var(--VeryDarkBlue);
  mix-blend-mode: normal;
  opacity: 0.75;
  background: #f7f7f7;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent;
}

.heroChrome:hover {
  background-color: var(--White);
  color: var(--SoftBlue);
  border: 0.125rem solid var(--SoftBlue);
}

.heroFire:hover {
  border: 0.125rem solid #5b6074;
}

.info {
  line-height: 200%;
  letter-spacing: 0.25px;
  padding: 0.5em 1.5em;
  background: var(--SoftBlue);
  border: 0.125rem solid transparent;
}

.info:hover {
  color: var(--SoftBlue);
  background: var(--White);
  border: 0.125rem solid var(--SoftBlue);
}

.accordion {
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: left;
  line-height: 213%;
  color: var(--VeryDarkBlue);
  padding-top: 1.1875rem;
  padding-inline: 0;
  cursor: pointer;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  border: transparent;
  border-bottom: 0.25rem solid transparent;
  transition: all 0.3s;
}

.accordion:hover {
  color: var(--SoftRed);
}

.accordion:focus-visible {
  outline: none;
  border-bottom: 0.25rem solid var(--SoftBlue);
}

.contact {
  line-height: 200%;
  letter-spacing: 0.25px;
  padding: 0.499rem 1.5em;
  background: var(--SoftRed);
  border: 0.125rem solid transparent;
  width: 100%;
  max-width: 19.4375rem;
}

@media screen and (min-width: 60.5rem) {
  .contact {
    max-width: 7.875rem;
  }
}

.contact:hover {
  color: var(--SoftRed);
  background: var(--White);
  border: 0.125rem solid var(--SoftRed);
}

.contact:focus {
  outline: 0.125rem solid var(--VeryDarkBlue);
  outline-offset: 0.125rem;
}
