.hero {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin: 0 auto 8.75rem;
  padding-inline: 2rem;
  gap: 4.375rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  font-weight: 500;
  font-size: clamp(1.875rem, 3vw + 0.75rem, 3rem);
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.09375px;
  color: var(--VeryDarkBlue);
  margin-block-end: 1rem;
}

:global(.paragraph) {
  font-weight: 400;
  font-size: clamp(0.9375rem, 1vw + 0.625rem, 1.125rem);
  line-height: 167%;
  color: var(--VeryDarkBlue);
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 36.1875rem;
}

.btnContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (min-width: 60.5rem) {
  .hero {
    flex-direction: row;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0;
    padding-inline-start: 2.5rem;
    padding-inline-end: 0;
  }

  .intro {
    align-items: flex-start;
    max-width: 33.75rem;
    padding-top: 4.4375rem;
    text-align: left;
  }

  .heading {
    line-height: 108%;
    letter-spacing: -0.15px;
    text-align: left;
    text-wrap-style: pretty;
    margin-block-end: 1.5rem;
  }

  :global(.paragraph) {
    line-height: 156%;
  }

  .btnContainer {
    justify-content: flex-start;
  }

  .bgBlue {
    width: 40rem;
    height: 22rem;
  }
}
