.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.socialContainer svg path,
.socialContainer svg {
  transition: all ease 0.5s;
  cursor: pointer;
}

.socialContainer svg path:hover {
  fill: var(--SoftRed);
}
